<!DOCTYPE html>
<html>
  <head>
    <title>SamlSampleApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <h1>SAML動作テスト</h1>
    <% if notice %>
      <p><%= notice %></p>
    <% end %>
    <% if alert %>
      <p><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
